@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


*{
  font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
}


#dish {
    min-height: 100vh;
    width: 100vw;
  }
  
  #dish .heading h1 {
    font-size: 4rem;
    color:white;
    padding-top: 4rem;
    margin-bottom: 2rem;
  }
  
  #dish .heading h1 span {
    color: red;
  }
  
  #dish .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;
  }
  
  #dish .box-container .box {
    height: 20rem;
    width: 25rem;
    border-radius: .5rem;
    margin: 2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 0 .5rem #333;
            box-shadow: 0 0 .5rem #333;
  }
  
  #dish .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  #dish .box-container .box .info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.6);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    color: #fff;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #dish .box-container .box .info h3 {
    font-size: 2rem;
  }
  
  #dish .box-container .box .info p {
    border-bottom: 0.2rem solid red;
    border-top: 0.2rem solid red;
    margin: 1rem 2rem;
  }
  
  #dish .box-container .box .info button {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 4rem;
    width: 14rem;
  }
  
  #dish .box-container .box .info button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    height: 100%;
    width: 0%;
    -webkit-transition: .2s;
    transition: .2s;
    z-index: -1;
  }
  
  #dish .box-container .box .info button:hover::before {
    width: 100%;
  }
  
  #dish .box-container .box:hover .info {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  

#menuToggle
{
  display: block;
  position: relative;
  top: 30px;
  left: 30px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  color: #fff
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  color: #fff;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
footer {
    background-color:black;
  font-family: 'Arial', sans-serif;
  font-size: .875rem;
  height: 8rem;
  width: 100vw;
  text-align: center;
  display: table;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

footer small {
  color: #ccc;
  letter-spacing: .025rem;
  margin-bottom: 1.5rem;
  display: block;
}

footer nav a {
  text-decoration: none;
  color: #c74f78;
  margin: 0 .5rem;
  display: inline-block;
}

footer nav a:hover {
  color: #f26896;
  transition: color .15s ease-in-out;
}

strong {
  font-weight: 700;
}
